.sidenav {
    height: 91%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
	overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidenavlist {
	margin-bottom: 25px;
	color: black;
}

#sidenavmenu {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/mainpage.jpg');
	margin-top: 0px;
	margin-bottom: 0px;
}

#sidenavmenu:hover {
	border: 5px solid #00c423;
}

#sidenavmenu:active {
	border: 5px solid #5600ad;
}

#menulink {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#sidenavjudaism {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/sidenavstar.jpg');
}

#sidenavjudaism:hover {
	border: 5px solid #00c423;
}

#sidenavjudaism:active {
	border: 5px solid #5600ad;
}

#sidenavhinduism {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/sidenavom.jpg');
}

#sidenavhinduism:hover {
	border: 5px solid #00c423;
}

#sidenavhinduism:active {
	border: 5px solid #5600ad;
}

#sidenavbuddhism {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/sidenavtree.jpg');
}

#sidenavbuddhism:hover {
	border: 5px solid #00c423;
}

#sidenavbuddhism:active {
	border: 5px solid #5600ad;
}

#sidenavchristianity {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/sidenavcross.jpg');
}

#sidenavchristianity:hover {
	border: 5px solid #00c423;
}

#sidenavchristianity:active {
	border: 5px solid #5600ad;
}

#sidenavislam {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/sidenavislam.jpg');
}

#sidenavislam:hover {
	border: 5px solid #00c423;
}

#sidenavislam:active {
	border: 5px solid #5600ad;
}

#sidenavsources {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid black;
	margin: auto;
	background-image: url('images/.jpg');
}

#sidenavsources:hover {
	border: 5px solid #00c423;
}

#sidenavsources:active {
	border: 5px solid #5600ad;
}