.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
	overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
	background-image: url("images/background2.jpg");
	background-repeat: repeat;
	background-position: top;
	color: white;
	font-family: arial;
	overflow-y: scroll;
	overflow-x:hidden;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

#name{
	font-size:12px;
}

#judaism{
	position: relative;
	width: 600px;
	height: 300px;
	border: 10px solid white;
	margin: auto;
	background-image: url('images/star.jpg');
	margin-top: 100px;
}

#judaismlink {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#judaism:hover{
	border: 10px solid #00c423;
}

#judaism:active{
	border: 10px solid #5600ad;
}

#hinduism{
	position: relative;
	width: 600px;
	height: 300px;
	border: 10px solid white;
	margin: auto;
	background-image: url('images/hinduism.jpg');
}

#hinduismlink {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#hinduism:hover{
	border: 10px solid #00c423;
}

#hinduism:active{
	border: 10px solid #5600ad;
}

#buddhism {
	position: relative;
	width: 600px;
	height: 300px;
	border: 10px solid white;
	margin: auto;
	background-image: url('images/bodhitree.jpg');
}

#buddhismlink {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#buddhism:hover{
	border: 10px solid #00c423;
}

#buddhism:active{
	border: 10px solid #5600ad;
}

#christianity{
	position: relative;
	width: 600px;
	height: 300px;
	border: 10px solid white;
	margin: auto;
	background-image: url('images/cross.jpg');
}

#christianitylink{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#christianity:hover{
	border: 10px solid #00c423; 
}

#christianity:active{
	border: 10px solid #5600ad;	
}

#islam{
	position: relative;
	width: 600px;
	height: 300px;
	border: 10px solid white;
	margin: auto;
	background-image: url('images/islam.jpg');
}

#islamlink {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#islam:hover{
	border: 10px solid #00c423;
}

#islam:active{
	border: 10px solid #5600ad;
}

#help {
	text-align: left;
}

#list {
	margin-bottom: 50px;
}

#sidenavlist {
	margin-bottom: 10px;
	color: black;
}

#sidenavjudaism {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid white;
	margin: auto;
	background-image: url('images/star.jpg');
	margin-top: 25px;
}

#sidenavhinduism {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid white;
	margin: auto;
	background-image: url('images/hinduism.jpg');
	margin-top: 25px;
}

#sidenavbuddhism {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid white;
	margin: auto;
	background-image: url('images/bodhitree.jpg');
	margin-top: 25px;
}

#sidenavchristianity {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid white;
	margin: auto;
	background-image: url('images/cross.jpg');
	margin-top: 25px;
}

#sidenavislam {
	position: relative;
	width: 200px;
	height: 100px;
	border: 5px solid white;
	margin: auto;
	background-image: url('images/islam.jpg');
	margin-top: 25px;
}